<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="${applicationId}">

    <!-- Mic -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <!-- (AR packages will contribute camera/features via manifest merge) -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        tools:replace="android:label,android:icon">

        <!-- Main Unity activity (required when providing a custom main manifest) -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:theme="@style/UnityThemeSelector"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|density|layoutDirection"
            android:resizeableActivity="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>

    </application>

</manifest>
